.container4 {
  display: flex;
  gap: 20px;
}

.left4 {
  background-color: #f0f0f0;
  width: 703px;
  height: 300px;
  top: 2822px;
  left: 20px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
}

.right4 {
  background-color: #e0e0e0;
  width: 818px;
  height: 300px;
  top: 2822px;
  left: 742px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
}

.right41 {
  width: 726px;
  height: 53px;
  margin-top: 34px;
  margin-left: 33px;
  gap: 0px;

  font-family: Cabinet Grotesk;
  font-size: 43px;
  font-weight: 500;
  line-height: 53.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.right412 {
  width: 753px;
  height: 71px;
  margin-top: 35px;
  margin-left: 34px;
  gap: 0px;

  font-family: Geist;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #bda2b0;
}

.righttext {
  width: 565px;
  height: 58px;
  margin-top: 30px;
  margin-left: 40px;
  gap: 0px;
  border-radius: 1px solid;
  border: 1px 0px 0px 0px;

  background: #ffffff;
  border: 1px solid #f5e1eb;
}

.rightbutton {
  width: Fixed (167px) px;
  height: Hug (60px) px;
  top: 187px;
  margin-left: 12px;
  padding: 19px 16px 19px 16px;
  gap: 8px;
  border-radius: var(--radius-md);

  background: #5cd2dd;
}
