/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  font-family: Arial, sans-serif;
}

/*  Sections */
main {
  width: 100%;
  /* text-align: center; */
  border: 1px solid #ccc;
  /* background: #eaeaea; */
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .content .left,
  .content .right {
    flex: 1 1 100%;
  }
}

@media (min-width: 800px) {
  content .left {
    order: 1;
  }
  .content .right {
    order: 2;
  }
}
